<header class="flex justify-evenly items-center mx-auto font-bold shadow-md py-3 border-b border-black dark:border-white">
  <nav>
    <button><%= link_to "Home", posts_path %></button>
  </nav>

  <nav class=" flex gap-x-8">
    
    <a href="https://github.com/fernandodxx" target="_blank">Github</a>
    <a href="https://www.linkedin.com/in/fernando-santos-b780081a0?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BgE8Dlh%2FyQr2YvR16o3bOfg%3D%3D" target="_blank">Linkedin</a>
    <% if user_signed_in? %>
   
      <%#= link_to "Profile", edit_user_registration_path %>
      <a> 
        <%= button_to "Log out", destroy_user_session_path, method: :delete %>
      </a>
    <% else %>
      <a><%= link_to "Login", new_user_session_path %></a>
      <%#= link_to "Sign Up", new_user_registration_path %>
    <% end %>
  </nav>
</header>
